*,
*::after,
*::before{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
    margin: 0 auto;
}

a{
    outline: none;
    text-decoration: none;
    color: #fff;
}

.header{
    width: 100%;
    height: 600px;
    padding-top: 40px;
    padding-bottom: 40px;
    background: url(../img/bg.jpg);
    background-size: cover;
}

.container{
    max-width: 1024px;
    margin: 0 auto;
}

.position__header{
    max-width: 1024px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.element{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    transition: 0.2s opacity linear;
}

 .element:hover{
    opacity: 0.8;
 }

.header_h4{
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2rem;
}

.heading__header{
    text-transform: uppercase;
    color: #fff;
    font-size: 36px;
    letter-spacing: .4rem;
}

.position_center_elemrnt{
    text-align: center;
    margin: 0 auto;
}

.btn{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: #16a085;
    padding: 20px 70px;
    margin-top: 40px;
    text-transform: uppercase;
    font-weight: bold;
    
    outline: none;
    border: none;
    display: block;
    border-radius: 3px;
    transition: 00.2s background-color linear;
}

.btn:hover{
    background-color: #00614e;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.last_element{
    display: flex;
    justify-content: center;
    visibility: hidden;
}

.tvitter_git{
    width: 20px;
}

/*main*/

.main{
    width: 100%;
    margin: 0 auto;
}

.hand{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #EAF5FF;
    position: relative;
}

.hand__heading{
   color: #16A085;
   font-size: 18px;
   font-weight: 700;
   letter-spacing: 3px;
   line-height: 21px;
}

.hand-informatipn{
    max-width: 430px;
}

.text{
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
    line-height: 24px;
    padding-top: 40px;
}

.hand__inner{
    position: absolute;
    width: 642px;
    z-index: 1;
    right: 10%;
    top: 18%;
}

.iphone{
    position: absolute;
    z-index: 2;
    right: 10%;
    top: 18%;
}

.design{
    width: 100%;
    padding-top: 100px;
    background-color: #fff;
    position: relative;
    z-index: 3;
}

.design__content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.iphone_03{
    display: block;
}

.arrow{
    display: flex;

}

.arrow_effect{
    margin-left: 5px;
    cursor: pointer;
    transition: linear 0.2s;
}

.arrow_effect:hover{
    opacity: 0.8;
}

.number{
    margin-top: 50px;
    font-size: 12px;
}

.community{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 120px 0 120px 0;
    background-color: #EAF5FF;
}

.community_inner{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.community_item{
    display: flex;
    justify-content: center;
}

.community_desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 80px;
}

.community_heading{
    font-size: 16px;
    letter-spacing: 2px;
    padding-top: 25px;
    font-weight: 500;
}

.community_text{
    color: #373737;
    font-size: 10px;
    margin: 0;
    padding: 0;
    padding-top: 15px;
}

.community__ptotos{
    position: relative;
    width: 35%;
    margin-right: 25px;
}

.community__ptotos:last-child{
    margin: 0;
}

.community__img{
    display: flex;
    background-color: #61445f;
    cursor: pointer;
    position: relative;
    transition: linear 0.2s;
}

.community__photo{
    background: linear-gradient(to bottom,#16a085, #60d3bc);
    max-width: 100%;
    transition: linear 0.2s;
}

.community__photo img{
    position: relative;
    display: block;
    max-width: 340px;
    height: 244px;
    transition: linear 0.2s;
    z-index: 4;
}

.community__img:hover .community__photo img{
    opacity: 0.3;
}

.community__img:hover .community__photo{
    transform: translate(-5px, -5px);
}

.img_text{
    position: absolute;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    top: 50%;
    left: 30%;
    z-index: 3;
}

.subscribe{
    height: 790px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    background: url(../img/Livello\ 3.png) no-repeat center;
    background-size: cover;
}

.subscribe_container{
    max-width: 512px;
    margin: auto auto;
    text-align: center;
}

.subscribe_header{
    margin: 0 auto;
    text-align: center;
}

.header__inner{
    color: #fff;
    font-size: 24px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.subscribe_form{
    max-width: 280px;
    height: 60px;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
}

.subscribe_form input{
    width: 100%;
    padding: 15px;
    border-radius: 3px 0 0 3px;
    opacity: 1;
    border: 0;
}

.subscribe_form input::placeholder{
    font-family: inherit;
    color: black;
    font-weight: bold;
}

.subscribe_form input{
    outline: none;
}

.button_email{
    background-color: #16A085;
    opacity: 0.7;
    border-radius: 0 3px 3px 0;
    border: 0;
    padding: 20px;
    cursor: pointer;
}

.button_email:hover{
    opacity: 1;
}

.download{
    width: 100%;
    background-color: #EAF5FF;
    padding: 84px 0 84px 0;
}

.download_heading{
    font-size: 20px;
    color: #373737;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.download_text{
    font-size: 12px;
    color: #373737;
    text-transform: uppercase;
    text-align: center;
}

.download_button{
    display: flex;
    justify-content: center;
}

.download_button a{
    display: flex;
    justify-content: center;
}

.download_inner{
    display: flex;
    margin-right: 20px;
}

.download_inner:last-child{
    margin: 0;
}

.download__item{
    width: 240px;
    height: 56px;
    border-radius: 3px 0 0 3px;
    background-color: #1ABC9C;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
}

.download__inner a:hover .download__item{
    color: black;
}

.button_download{
    width: 56px;
    height: 56px;
    padding: 0;
}

.footer{
    width: 100%;
    padding: 40px 0 40px 0;
}

.footer_content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer_nav{
    display: flex;
    justify-content: space-around;
    margin-bottom: 17px;
}

.nav_inner{
    margin-right: 20px;
}

.nav_inner:last-child{
    margin: 0;
}

.footer_inner{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
}

.footer_img{
    display: block;
}

@media(max-width: 1024px){
    .container{
        padding: 0 50px;
    }

    .footer_content{
        flex-direction: column;
    }

    .footer_img{
        width: 50px;
        margin: 0 auto;
    }

    .community_item{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .community_desc{
        margin: 0;
    }

    .footer_nav{
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .copyright{
        margin: 0 auto;
        margin-bottom: 20px;
    }

    
}

@media(max-width: 940px){

    .container{
        padding: 0 50px;
    }

    .hand-informatipn{
        margin: 0 auto;
    }

    .hand__heading{
        text-align: center;
    }

    .text{
        font-size: 16px;
        text-align: center;
    }

    .btn{
        margin: 0 auto;
        margin-top: 20px;
    }

    .hand-informatipn{
        margin-bottom: 40px;
    }

    .hand__inner{
        display: none;
    }

    .iphone{
        display: none;
    }

    .design__content{
        flex-direction: column;
    }

    .iphone_03{
        order: 1;
        margin: 0 auto;
    }

    .community_heading{
        font-size: 20px;
    }

    .community_text{
        font-size: 16px;
    }

    .download_heading{
        font-size: 20px;
    }

    .download_text{
        font-size: 16px;
        padding: 0 40px;
    }

}

@media(max-width: 840px){

    .container{
        padding: 0;
    }

    .hand__heading{
        font-size: 25px;
        line-height: 40px;
    }

    .text{
        font-size: 20px;
    }

    .btn{
        margin-top: 30px;
    }
   

    .community_heading{
        font-size: 25px;
    }

    .community_text{
        font-size: 20px;
    }

    .subscribe{
        height: 500px;
    }
}

@media(max-width: 740px){

    .hand__heading{
        padding: 0 30px;
    }

    .text{
        padding: 35px 30px;

    }

    .download_button{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .download_inner{
        margin: 0;
    }

    .download_inner:first-child{
        margin-bottom: 40px;
        
    }

    .community_inner:nth-child(2){
        width: 100%;
        margin: 0 auto;
    }

    .community_inner:nth-child(3){
        width: 100%;
        margin: 0 auto;
        margin-top: 40px;
    }

    

}

@media(max-width: 664px){
    .hand__heading{
        padding: 20px;
    }
}

