*,
*::after,
*::before{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    max-width: 1700px;
    margin: 0 auto;
}

a{
    outline: none;
    text-decoration: none;
    color: #fff;
}

.header{
    width: 100%;
    height: 600px;
    padding-top: 40px;
    padding-bottom: 40px;
    background: rgb(86, 0, 88) url(.//img/bg.jpg);
    background-size: cover;
}

.container{
    max-width: 1024px;
    margin: 0 auto;
}

.position__header{
    max-width: 1024px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.element{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    transition: 0.2s opacity linear;
}

 .element:hover{
    opacity: 0.8;
 }

.header_h4{
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2rem;
}

.heading__header{
    text-transform: uppercase;
    color: #fff;
    font-size: 36px;
    letter-spacing: .4rem;
}

.position_center_elemrnt{
    text-align: center;
    margin: 0 auto;
}

.btn{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: #16a085;
    padding: 20px 70px;
    margin-top: 40px;
    text-transform: uppercase;
    font-weight: bold;
    
    outline: none;
    border: none;
    display: block;
    border-radius: 3px;
    transition: 00.2s background-color linear;
}

.btn:hover{
    background-color: #00614e;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.last_element{
    display: flex;
    justify-content: center;
}

.tvitter_git{
    width: 20px;
}

/*main*/

.main{
    width: 100%;
    margin: 0 auto;
}

.hand{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #EAF5FF;
    position: relative;
}

.hand__heading{
   color: #16A085;
   font-size: 18px;
   letter-spacing: 3px;
   line-height: 21px;
   font-weight: 500;
}

.hand-informatipn{
    max-width: 430px;
}

.text{
    font-size: 12px;
    line-height: 24px;
    padding-top: 40px;
}

.hand__inner{
    position: absolute;
    width: 642px;
    z-index: 1;
    right: 10%;
    top: 18%;
}

.iphone{
    position: absolute;
    z-index: 2;
    right: 10%;
    top: 18%;
}

.design{
    width: 100%;
    padding-top: 100px;
    background-color: #fff;
    position: relative;
    z-index: 3;
}

.design__content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.iphone_03{
    display: block;
}

.arrow{
    display: flex;

}

.arrow_effect{
    margin-left: 5px;
    cursor: pointer;
    transition: linear 0.2s;
}

.arrow_effect:hover{
    opacity: 0.8;
}

.number{
    margin-top: 50px;
    font-size: 12px;
}

.community{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 120px 0 120px 0;
    background-color: #EAF5FF;
}

.community_inner{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.community_item{
    display: flex;
    justify-content: center;
}

.community_desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 80px;
}

.community_heading{
    font-size: 16px;
    letter-spacing: 2px;
    padding-top: 25px;
    font-weight: 500;
}

.community_text{
    color: #373737;
    font-size: 10px;
    margin: 0;
    padding: 0;
    padding-top: 15px;
}

.community__ptotos{
    position: relative;
    width: 35%;
    margin-right: 25px;
}

.community__ptotos:last-child{
    margin: 0;
}

.community__img{
    display: flex;
    background-color: #61445f;
    cursor: pointer;
    position: relative;
    transition: linear 0.2s;
}

.community__photo{
    background: linear-gradient(to bottom,#16a085, #60d3bc);
    max-width: 100%;
    transition: linear 0.2s;
}

.community__photo img{
    position: relative;
    display: block;
    max-width: 340px;
    height: 244px;
    transition: linear 0.2s;
    z-index: 4;
}

.community__img:hover .community__photo img{
    opacity: 0.3;
}

.community__img:hover .community__photo{
    transform: translate(-5px, -5px);
}

.img_text{
    position: absolute;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    top: 50%;
    left: 20%;
    z-index: 3;
}



